# Dependencies
node_modules

# macOS (Finder)
.DS_Store

# Environment variables
.env.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Astro
.astro
dist

# Bun
bun.lockb

# Environment variables
.env*.local

