@import "tailwindcss";
@import "katex/dist/katex.min.css";
@import "@fontsource-variable/stix-two-text";

@theme {
	--color-paper-50:  #F2F1ED;
	--color-paper-100: #EDECEC;
	--color-paper-200: #E6E5E0;
	--color-paper-700: #26241E;
	--color-paper-900: #1B1912;
	--color-paper-950: #13120A;
	--color-paper-1000: #F54E00;
	--font-sans: "STIX Two Text Variable", sans-serif;
	--text-lg: 1.0625rem;
	--text-lg--line-height: 1.5;
}

.footnotes {
	@apply mt-8 border-t border-paper-700/10 pt-4 text-paper-700/60 dark:text-paper-100/60 dark:border-paper-100/10;
}

.katex {
	@apply [font-size:inherit];
}