@import "tailwindcss";
@import "katex/dist/katex.min.css";

@import "@fontsource-variable/stix-two-text";

@custom-variant dark (&:is(.dark, .dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border);
	--color-ring: var(--ring);

	--text-lg: 1.0625rem;
	--text-lg--line-height: 1.5;

	--font-sans: "STIX Two Text Variable", sans-serif;
}

:root {
	--background: oklch(100% 0 0);
	--foreground: oklch(0% 0 0 / 90%);
	--muted-foreground: oklch(0% 0 0 / 50%);
	--border: oklch(92.5% 0 0);
	--ring: oklch(67% 0.183 249);
}

.dark {
	--background: oklch(23.5% 0 0);
	--foreground: oklch(100% 0 0);
	--muted-foreground: oklch(100% 0 0 / 70%);
	--border: oklch(38.7% 0 0);
	--ring: oklch(62.7% 0.17 249);
}

.footnotes {
	@apply mt-8 border-t border-border pt-4 text-muted-foreground;
}

.katex {
	@apply [font-size:inherit];
}