@import "katex/dist/katex.min.css";
@import "tailwindcss";

@font-face {
	font-family: "Die Grotesk A";
	font-weight: 400;
	src: url("/fonts/die-grotesk-a-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Die Grotesk B";
	font-weight: 400;
	src: url("/fonts/die-grotesk-b-regular.woff2") format("woff2");
}

@theme {
	--color-background: var(--background);
	--color-muted: var(--muted);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-selection: var(--selection);
	--color-blue: var(--blue);
	--color-red: var(--red);
	--font-sans: "Die Grotesk A", sans-serif;
	--font-serif: "Die Grotesk B", serif;
	--text-base: 0.9375rem;
	--text-base--line-height: 1.375rem;
	--text-lg: 1.125rem;
	--text-lg--line-height: 1.5625rem;
	--text-4xl: 2.25rem;
	--text-4xl--line-height: 2.375rem;
	--text-5xl: 2.625rem;
	--text-5xl--line-height: 2.75rem;
}

:root {
	--background: oklch(100% 0 0);
	--muted: oklch(97.5% 0 0);
	--foreground: oklch(30% 0 0);
	--border: oklch(30% 0 0);
	--selection: oklch(94% 0 0);
	--blue: oklch(45.2% 0.313 264);
	--red: oklch(65.2% 0.228 32.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: oklch(17% 0 0);
		--muted: oklch(23.5% 0 0);
		--foreground: oklch(94.5% 0 0);
		--border: oklch(32% 0 0);
		--selection: oklch(30% 0 0);
		--blue: oklch(45.2% 0.313 264);
		--red: oklch(65.2% 0.228 32.2);
	}
}

@layer base {
	html {
		@apply [text-rendering:optimizeLegibility] [font-synthesis:none];
	}
}
