@import "tailwindcss";

@font-face {
	font-family: "Die Grotesk A";
	font-weight: 400;
	src: url("/assets/fonts/die-grotesk-a-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Die Grotesk B";
	font-weight: 400;
	src: url("/assets/fonts/die-grotesk-b-regular.woff2") format("woff2");
}


@theme {
	--color-background: var(--background);
	--color-muted: var(--muted);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-selection: var(--selection);
	--color-focus: var(--focus);
	--font-sans: "Die Grotesk A", sans-serif;
	--font-serif: "Die Grotesk B", serif;
	--text-base: 0.9375rem;
	--text-base--line-height: 1.375rem;
	--text-lg: 1.125rem;
	--text-lg--line-height: 1.5625rem;
	--text-4xl: 2.25rem;
	--text-4xl--line-height: 2.375rem;
	--text-5xl: 2.625rem;
	--text-5xl--line-height: 2.75rem;
}

:root {
	--background: oklch(100% 0 0);
	--muted: oklch(97.5% 0 0);
	--foreground: oklch(30% 0 0);
	--border: oklch(30% 0 0);
	--selection: oklch(94% 0 0);
	--focus: oklch(37.8% 0.182 263);

	@media (color-gamut: p3) {
		--background: color(display-p3 1 1 1);
		--muted: color(display-p3 0.97 0.97 0.97);
		--foreground: color(display-p3 0.18 0.18 0.18);
		--border: color(display-p3 0.18 0.18 0.18);
		--selection: color(display-p3 0.92 0.92 0.92);
		--focus: color(display-p3 0 0.2 0.63);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: oklch(17% 0 0);
		--muted: oklch(23.5% 0 0);
		--foreground: oklch(94.5% 0 0);
		--border: oklch(32% 0 0);
		--selection: oklch(30% 0 0);
		--focus: oklch(37.8% 0.182 263);

		@media (color-gamut: p3) {
			--background: color(display-p3 0.06 0.06 0.06);
			--muted: color(display-p3 0.12 0.12 0.12);
			--foreground: color(display-p3 0.93 0.93 0.93);
			--border: color(display-p3 0.2 0.2 0.2);
			--selection: color(display-p3 0.18 0.18 0.18);
			--focus: color(display-p3 0 0.56 0.87);
		}
	}
}

@layer base {
	html {
		@apply [text-rendering:optimizeLegibility];
	}
}