@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-selection: var(--selection);
  --font-sans: var(--font-inter);
}

:root {
  --background: oklch(100% 0 0);
  --border: oklch(92.5% 0 0);
  --foreground: oklch(29.3% 0 0);
  --muted-foreground: oklch(56.2% 0 0);
  --primary: oklch(0% 0 0);
  --selection: oklch(92.5% 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(17.8% 0 0);
    --border: oklch(29.3% 0 0);
    --foreground: oklch(94.5% 0 0);
    --muted-foreground: oklch(76.7% 0 0);
    --primary: oklch(100% 0 0);
    --selection: oklch(34.1% 0 0);
  }
}
