---
import Anchor from "@components/mdx/anchor.astro";
import Paragraph from "@components/mdx/paragraph.astro";
import Heading2 from "@components/mdx/h2.astro";
import BaseLayout from "@layouts/base-layout.astro";
import { getCollection, render } from "astro:content";
import Education from "@components/education.astro";
import FAQs from "@components/faqs.astro";
import Separator from "@components/separator.astro";
import Projects from "@components/projects.astro";
import UnorderedList from "@components/mdx/ul.astro";
import ListItem from "@components/mdx/li.astro";
import OrderedList from "@components/mdx/ol.astro";
import Code from "@components/mdx/code.astro";
import Blockquote from "@components/mdx/blockquote.astro";
import Emphasis from "@components/mdx/em.astro";

export async function getStaticPaths() {
  return await getCollection("blog").then((posts) =>
    posts.map((post) => ({
      params: {
        id: post.id === "index" ? undefined : post.id,
      },
      props: { post },
    })),
  );
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <div class="col-start-1 col-end-9">
    <a
      class="group/link active:bg-foreground active:text-background inline-flex items-center gap-1 font-sans text-lg decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
      href={post.id === "index" ? "/story" : "/"}
    >
      {post.id === "index" ? "My life in 5 minutes" : "Go back home"}
      <svg
        fill="none"
        class="size-4 shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
        view-box="0 0 16 16"
        aria-hidden="true"
        stroke-width={1}
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          class="transition-transform duration-100 group-hover/link:translate-x-1 group-focus-visible/link:translate-x-1"
          d="M6 12L10 8L6 4"></path>
        <path
          class="opacity-0 transition-opacity duration-100 group-hover/link:opacity-100 group-focus-visible/link:opacity-100"
          d="M2 8L13 8"></path>
      </svg>
    </a>
  </div>

  <div class="col-start-1 col-end-9 md:col-start-3 xl:col-end-7">
    <Content
      components={{
        a: Anchor,
        blockquote: Blockquote,
        code: Code,
        em: Emphasis,
        h2: Heading2,
        li: ListItem,
        ol: OrderedList,
        p: Paragraph,
        ul: UnorderedList,
      }}
    />
  </div>

  {
    post.id === "index" && (
      <>
        <Separator />
        <Projects />
        <Separator />
        <Education />
        <Separator />
        <FAQs />
      </>
    )
  }
</BaseLayout>
