---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/base-layout.astro";

function format(date: Date) {
  const formatter = new Intl.DateTimeFormat("en-US", {
    month: "long",
    year: "numeric",
    day: "numeric",
  });
  return formatter.format(date);
}

let posts: CollectionEntry<"blog">[] = [];

posts = await getCollection("blog", ({ data }) => {
  return !!data.date && !!data.topic && !data.draft;
});

posts = posts.sort((a, b) => b.data.date!.valueOf() - a.data.date!.valueOf());
---

<BaseLayout
  title="Writings"
  description="Some thoughts and ideas that made it to paper."
>
  <div class="col-start-1 col-end-9">
    <a
      class="group/link font-sans inline-flex gap-1 items-center text-lg decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current active:bg-foreground active:text-background"
      href="/"
      >Go back home
      <svg
        fill="none"
        class="size-4 shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
        view-box="0 0 16 16"
        aria-hidden="true"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          class="transition-transform duration-100 group-hover/link:translate-x-1 group-focus-visible/link:translate-x-1"
          d="M6 12L10 8L6 4"></path>
        <path
          class="opacity-0 transition-opacity duration-100 group-hover/link:opacity-100 group-focus-visible/link:opacity-100"
          d="M2 8L13 8"></path>
      </svg></a
    >
  </div>

  <div
    class="grid gap-10 md:gap-12 col-end-9 col-start-1 lg:col-start-3 lg:col-end-7 md:grid-cols-2"
  >
    {
      posts.map((post) => (
        <a
          class="focus-visible:outline-none focus-visible:ring-2 flex flex-col gap-4"
          href={`/${post.id}`}
        >
          <div class="aspect-square bg-muted" />

          <div class="flex flex-col gap-3 pr-8">
            <div class="font-sans text-lg text-pretty">{post.data.title}</div>

            <div class="inline-flex gap-3 text-base">
              <span>{post.data.topic}</span>

              <span class="text-muted-foreground">
                {format(post.data.date!)}
              </span>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
