<div class="col-start-1 col-end-9 md:col-end-3">
  <h2 class="font-sans text-lg text-pretty">Academic background</h2>
</div>

<div class="col-start-1 col-end-9 md:col-start-3 xl:col-end-7">
  <div class="flex flex-col">
    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2025-2026</span>
      <span class="font-sans text-lg text-pretty">Paris (France)</span>
      <span class="font-sans text-lg text-pretty">Master 2</span>
    </div>

    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2024-2025 </span>
      <span class="font-sans text-lg text-pretty">Boston (USA)</span>
      <span class="font-sans text-lg text-pretty">Exchange at UMB</span>
    </div>

    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2024-2025</span>
      <span class="font-sans text-lg text-pretty">Caen (France)</span>
      <span class="font-sans text-lg text-pretty">Master 1</span>
    </div>

    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2023-2024</span>
      <span class="font-sans text-lg text-pretty">Dublin (Ireland)</span>
      <span class="font-sans text-lg text-pretty">Exchange at TUD</span>
    </div>

    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2023-2024</span>
      <span class="font-sans text-lg text-pretty">Santiago (Chile)</span>
      <span class="font-sans text-lg text-pretty">Exchange at UAI</span>
    </div>

    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2022-2023</span>
      <span class="font-sans text-lg text-pretty">Oxford (UK)</span>
      <span class="font-sans text-lg text-pretty">Undergraduate 2</span>
    </div>

    <div
      class="first:border-t border-border border-b py-3 grid gap-10 lg:gap-12 grid-cols-3"
    >
      <span class="font-sans text-lg text-pretty">2021-2022</span>
      <span class="font-sans text-lg text-pretty">Paris (France)</span>
      <span class="font-sans text-lg text-pretty">Undergraduate 1</span>
    </div>
  </div>
</div>
