---
import Anchor from "./mdx/anchor.astro";
---

<div class="col-start-1 col-end-9 md:col-end-3">
  <h2 class="font-sans text-lg text-pretty">Academic background</h2>
</div>

<div class="col-start-1 col-end-9 md:col-start-3 xl:col-end-7">
  <div class="flex flex-col">
    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty"> 2025-2026</span>
        <span class="font-sans text-lg text-pretty">Paris (France)</span>
        <span class="font-sans text-lg text-pretty">Master 2</span>

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        12-month program studying digital innovation and strategy, dealing with
        legal and ethical issues, facing challenges in the digital economy, and
        modern organizational topics.
      </p>
    </details>

    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty">2024-2025 </span>
        <span class="font-sans text-lg text-pretty">Boston (USA)</span>
        <span class="font-sans text-lg text-pretty"
          >Exchange at <Anchor href="https://www.umb.edu/">UMB</Anchor>
        </span>

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        6-month exchange program covering sport entrepreneurship, operations
        management, service management, and lean management.
      </p>
    </details>

    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty">2024-2025</span>
        <span class="font-sans text-lg text-pretty">Caen (France)</span>
        <span class="font-sans text-lg text-pretty">Master 1</span>

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        6-month program studying business models, innovation management, the
        financial side of business planning, innovation and economic
        intelligence, and digital culture.
      </p>
    </details>

    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty">2023-2024</span>
        <span class="font-sans text-lg text-pretty">Dublin (Ireland)</span>
        <span class="font-sans text-lg text-pretty"
          >Exchange at <Anchor href="https://www.tudublin.ie/">TUD</Anchor
          ></span
        >

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        6-month exchange studying applied and alternative economics,
        organizational management, consumer behavior, strategy, and cost
        control.
      </p>
    </details>

    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty">2023-2024</span>
        <span class="font-sans text-lg text-pretty">Santiago (Chile)</span>
        <span class="font-sans text-lg text-pretty"
          >Exchange at <Anchor href="https://www.uai.cl/">UAI</Anchor></span
        >

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        6-month exchange program studying strategic leadership, green economy,
        entrepreneurship, and contemporary marketing strategies in LATAM.
      </p>
    </details>

    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty">2022-2023</span>
        <span class="font-sans text-lg text-pretty">Oxford (UK)</span>
        <span class="font-sans text-lg text-pretty">Undergraduate 2</span>

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        6-month program studying financial and cost analysis, economic policies,
        marketing of services, working in multicultural teams, and introduction
        to taxes.
      </p>
    </details>

    <details class="group/accordion border-border border-t last:border-b">
      <summary
        class="grid cursor-pointer grid-cols-[1fr_1fr_1fr_auto] gap-10 py-3 lg:gap-12"
      >
        <span class="font-sans text-lg text-pretty">2021-2022</span>
        <span class="font-sans text-lg text-pretty">Paris (France)</span>
        <span class="font-sans text-lg text-pretty">Undergraduate 1</span>

        <svg
          fill="currentColor"
          class="my-auto size-5 group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#plus"></use>
        </svg>

        <svg
          fill="currentColor"
          class="my-auto size-5 not-group-open/accordion:hidden"
          viewBox="0 0 15 15"
          aria-hidden="true"
        >
          <use href="/sprite.svg#minus"></use>
        </svg>
      </summary>

      <p class="mt-1 pb-3 font-sans text-lg text-pretty">
        12-month program studying marketing strategy, project management, sales
        techniques, corporate governance and ethics, and technology innovation
        management.
      </p>
    </details>
  </div>
</div>
