---
import Anchor from "./mdx/anchor.astro";
---

<div class="col-start-1 col-end-9 md:col-end-3">
  <h2 class="font-sans text-lg text-pretty">Frequently asked questions</h2>
</div>

<div class="col-start-1 col-end-9 md:col-start-3 xl:col-end-7">
  <details class="group/accordion border-t border-border last:border-b">
    <summary
      class="flex font-sans w-full cursor-pointer list-none justify-between gap-6 py-3 text-lg text-pretty [&::-webkit-details-marker]:hidden focus-visible:outline-current"
    >
      <h3>What languages do you speak?</h3>

      <svg
        fill="currentColor"
        class="my-auto group-open/accordion:hidden size-5"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#plus"></use>
      </svg>

      <svg
        fill="currentColor"
        class="my-auto size-5 not-group-open/accordion:hidden"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#minus"></use>
      </svg>
    </summary>

    <p class="font-sans mt-1 pb-3 text-lg text-pretty">
      French and English, with some Spanish.
    </p>
  </details>

  <details class="group/accordion border-t border-border last:border-b">
    <summary
      class="flex font-sans w-full cursor-pointer list-none justify-between gap-6 py-3 text-lg text-pretty [&::-webkit-details-marker]:hidden focus-visible:outline-current"
    >
      <h3>What are your greatest strengths?</h3>

      <svg
        fill="currentColor"
        class="my-auto group-open/accordion:hidden size-5"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#plus"></use>
      </svg>

      <svg
        fill="currentColor"
        class="my-auto size-5 not-group-open/accordion:hidden"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#minus"></use>
      </svg>
    </summary>

    <p class="font-sans mt-1 pb-3 text-lg text-pretty">
      Learning by doing. Caring about the details. Being a quick learner.
    </p>
  </details>

  <details class="group/accordion border-t border-border last:border-b">
    <summary
      class="flex font-sans w-full cursor-pointer list-none justify-between gap-6 py-3 text-lg text-pretty [&::-webkit-details-marker]:hidden focus-visible:outline-current"
    >
      <h3>Are you open to remote or on-site work?</h3>

      <svg
        fill="currentColor"
        class="my-auto group-open/accordion:hidden size-5"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#plus"></use>
      </svg>

      <svg
        fill="currentColor"
        class="my-auto size-5 not-group-open/accordion:hidden"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#minus"></use>
      </svg>
    </summary>

    <p class="font-sans mt-1 pb-3 text-lg text-pretty">
      I do. For on-site positions, I would first consider Paris, London, New
      York, or San Francisco.
    </p>
  </details>

  <details class="group/accordion border-t border-border last:border-b">
    <summary
      class="flex font-sans w-full cursor-pointer list-none justify-between gap-6 py-3 text-lg text-pretty [&::-webkit-details-marker]:hidden focus-visible:outline-current"
    >
      <h3>How can I get in touch?</h3>

      <svg
        fill="currentColor"
        class="my-auto group-open/accordion:hidden size-5"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#plus"></use>
      </svg>

      <svg
        fill="currentColor"
        class="my-auto size-5 not-group-open/accordion:hidden"
        viewBox="0 0 15 15"
        aria-hidden="true"
      >
        <use href="/sprite.svg#minus"></use>
      </svg>
    </summary>

    <p class="font-sans mt-1 pb-3 text-lg text-pretty">
      Reach me on <Anchor href="mailto:armand.thuillart@proton.me">email</Anchor
      >, <Anchor href="https://x.com/armandthuillart">X</Anchor>, or <Anchor
        href="https://www.linkedin.com/in/armandthuillart/">LinkedIn</Anchor
      >.
    </p>
  </details>
</div>
