<div class="col-start-1 col-end-9 md:col-end-3">
  <h2 class="font-sans text-lg text-pretty">Some of my projects</h2>
</div>

<div
  class="grid gap-10 md:gap-12 col-end-9 col-start-1 lg:col-start-3 grid-cols-2 md:grid-cols-4 lg:grid-cols-6"
>
  <a
    class="group focus-visible:outline-none flex flex-col gap-2"
    href="https://www.rosace.app"
  >
    <div
      aria-label="Rosace"
      class="group-focus-visible:text-background aspect-square flex items-center justify-center bg-muted group-focus-visible:bg-foreground group-focus-visible:outline-offset-2 focus-visible:outline-current"
    >
      <svg
        aria-hidden="true"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        class="size-16"
        viewBox="0 0 24 24"
      >
        <use href="/sprite.svg#rosace"></use>
      </svg>
    </div>

    <p
      class="w-fit font-sans text-base text-pretty decoration-1 underline-offset-4 not-group-hover:not-focus-visible:underline group-active:bg-foreground group-active:text-background"
    >
      Rosace
    </p>
  </a>
</div>
