---
import BaseHead from "@components/base-head.astro";

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<html lang="en" class="antialiased scheme-light-dark">
  <head>
    <BaseHead title={title} />
  </head>

  <body class="bg-background text-foreground selection:bg-selection">
    <main class="isolate overflow-clip">
      <div class="px-6 md:px-12">
        <div
          class="md:grid-12 mx-auto grid max-w-370 grid-cols-8 gap-10 py-7 md:py-8"
        >
          <div class="col-start-1 col-end-4">
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="mailto:armand.thuillart@proton.me">armand.thuillart@pm.me</a
            >
          </div>

          <div
            class="col-start-5 col-end-8 flex flex-col items-start gap-2 md:col-end-9 lg:col-end-7"
          >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://x.com/armandthuillart">X</a
            >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://github.com/armandthuillart">GitHub</a
            >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://www.linkedin.com/in/armandthuillart/">LinkedIn</a
            >
          </div>

          <div class="col-start-7 col-end-9 max-lg:hidden">
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="/writings">Writings</a
            >
          </div>

          <h1
            class="col-start-1 col-end-9 font-serif text-4xl text-balance md:text-5xl xl:col-end-5"
          >
            {description}
          </h1>

          <slot />

          <div class="col-start-1 col-end-9 lg:col-start-3">
            <div class="bg-muted h-px w-8"></div>
          </div>

          <div class="col-start-1 col-end-9 md:col-end-3">
            <div class="text-base text-pretty">
              © {new Date().getFullYear()}
            </div>
          </div>

          <div
            class="col-start-1 col-end-9 flex flex-col items-start gap-2 md:col-start-3 xl:col-end-7"
          >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://x.com/armandthuillart">X</a
            >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://github.com/armandthuillart">GitHub</a
            >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://www.linkedin.com/in/armandthuillart/">LinkedIn</a
            >
            <a
              class="active:bg-foreground active:text-background font-sans text-base decoration-1 underline-offset-4 not-hover:not-focus-visible:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-current"
              href="https://www.youtube.com/@armandthuillart">YouTube</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
